*{ margin: 0;
 padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
  line-height: 1.2;
 list-style-type: none;
 text-decoration: none;
outline:none;
font-family: 'Poppins', sans-serif;

}

:root{
    --bg-color:linear-gradient(-120deg , rgb(92, 97, 230), rgb(240, 236, 236));
    --box-color:rgba(66, 32, 32, 0.4);
    --heading-col:#222;
    --helper-col:rgb(180, 180, 236);

    
}
html{
   font-size: 67.5%;
}
body{
    height: 100vh;
    width: 100vw;
   
   
    background: var(--bg-color);
}

p{
    font-size:2rem;
    font-weight:400;
    color:black;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size:2.2rem;
    font-weight:400;
    color:black;
    text-transform: capitalize;
}

.heading{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--heading-col);
    font-weight: 500;
    text-align: center;
}
.mainbox{
    background-color: var(--box-color);
    width:55% ;
    height: 75%;
    margin: auto;
    margin-top: 2rem;
    padding: 1.8rem;
    border-radius: 1rem;
    overflow: hidden;

}
.searchbox{
    background-color: rgb(16, 16, 55);
    width: 80%;
    margin: auto;
    padding: 1rem 1.3rem;
    border-radius:12rem;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position: relative;

}
.searchbox .searchc{
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    text-align: start;
    color: white;
    font-size: 1.5rem;

}
.searchc::placeholder{
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.651);
}
.searchbox .btnc{
    padding: .6rem 4rem;
    background-color:rgb(223, 27, 27);
    color: #fff;
    border-radius: 10rem;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    

}
.btnc:hover{
    background-color: var(--helper-col);
    color: #000;
}
.content{
    text-align: left;
  margin:auto;
  width: 90%;
  margin-top: 2rem;

 
  
  

    /* background-color: hotpink; */
   

}
.cityc {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-size:3rem;
    font-weight:500;

}

.right-box{
   display:flex;
   align-items:flex-start;
   justify-content:flex-start;
   flex-direction: column;
}


   
/* .minitemp  p{
    font-size: 1rem;
} */
.tempu{
    color: white;
    font-weight: 700;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
}
 
.iconc.active{
   
    display:flex;
    align-items:center;


    gap: 2rem;
    
    
    /* display: block; */
    
    
   
}
.iconc{
    display: none;


}

.iconc img{
    height: 6rem;
    width: 6rem;
}

.left-box{
    margin-bottom: 2rem;
}
@media (max-width:990px) {
    html{
        font-size: 50%;
    }
    .searchbox{
        width: 100%;
    }
    .mainbox{
        height: 64%;
    }
}
@media (max-width:550px){
    .mainbox{
        width: 90%;
        height: 90%;
        margin: auto;
    }
    .searchbox{
        
    }


}
